html { 
  background-color: #3F4758;
  font-family: Roboto;
  color: white;
  height: 100%;
}

#root {
  height: 100%;
}

.primary {
  color: #955FF8;
  border-color: #955FF8;
}

.gray-shaded {
  color: #B6C8D4;
}

body {
  height: 100%;
  -ms-overflow-style: scrollbar;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

div, span {
  text-transform: none !important;
 }


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header-line {
  box-sizing: border-box;
  height: 2px;
  border: 1px solid #4D5667;
}

.Header-title {
  height: 24px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.Header-logo {
  margin-top: 5px;
  width: 42px;
  height: 42px;
}

.Header {
  margin-right: 50px;
  -webkit-app-region: drag;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
}

#token-box {
  padding: 10px;
  background-color: #2F3545;
  width: 75%;
  max-width: 500px;
  color: #B6C8D4;
  font-family: Roboto;
  font-size: 18px;
}

#token-wrapper {
  display: -webkit-box;
}

#token-show-eye {
  float: right;
  cursor: pointer;
}

.small-icon {
  font-size: 18;
  color: #5f697a;
}

#copy-token-btn {
  height: 43px;
  font-weight: 400;
  margin-top: 18px;
  font-size: 14px;
  font-family: Roboto;
  color: white;
  border-radius: 0;
  background-color: #955FF8;
}

#close-window-btn {
  color: white;
  margin: 10px;
  -webkit-app-region: no-drag;
}

#close-window-wrapper {
  float: right;
  z-index: 500;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

#content-container {
  margin-left: 25px;
  text-align: left;
}

.repo-name {
  margin-top: 5px;
  margin-left: 10px;
}

.repo-name-edit {
  margin-left: 10px;
  min-width: 350px;
  outline-width: 0;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-color: #955FF8;
  border-right: none;
  height: 25px;
  font-size: 16px;
  color: white;
}

#repo-buttons {
  margin-top: -10px !important;
  position: absolute !important;
  right: 25px !important;
}

#version-title {
  padding-top: 10px;
  margin-left: 5px;
  font-size: 12px;
}

.flex {
  display: flex;
}

#token-title {
  margin-bottom: -12px;
  align-items: center;
  font-size: 16px;
}

#token-lock {
  margin-bottom: 5px;
  height: 25px;
  cursor: pointer;
}

#checkboxes-group {
  margin-left: 20px;
}

.eula-modal {
  display: flex;
  flex-direction: column;
  background: white;
  font-family: Roboto, sans-serif;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.eula-modal .headline {
  color: black;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 300;
}

.eula-modal .eula-iframe {
  width: 100%;
  height: 65%;
}

.eula-modal .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.eula-modal .agree {
  margin-left: 10px;
}