html {
  font-family: DynatraceFlow;
  height: 100%;
  background: #DDDDE700;
}

#root {
  height: 100%;
}

.gray-shaded {
  color: #2C2D4D;
}

body {
  height: 100%;
  -ms-overflow-style: scrollbar;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

div, span {
  text-transform: none !important;
 }


.Header-line {
  box-sizing: border-box;
  height: 1px;
  border: 1px solid #4D5667;
}

.Header-title {
  height: 24px;
  color: #2C2D4D;
  font-family: DynatraceFlow;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.Header-logo {
  margin-top: 5px;
  width: 40px;
  height: 34px;
}

.Header {
  margin-right: 50px;
  -webkit-app-region: drag;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
  align-items: center;
}


#close-window-btn {
  color: black;
  margin: 28px 28px 0 0;
  -webkit-app-region: no-drag;
}


#close-window-wrapper {
  float: right;
  z-index: 500;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

#version-title {
  padding-top: 15px;
  margin-left: 5px;
  font-size: 12px;
}

.flex {
  display: flex;
}

#checkboxes-group {
  margin-left: 20px;
  margin-bottom: 8px;
}

.eula-modal {
  display: flex;
  flex-direction: column;
  background: white;
  font-family: DynatraceFlow, sans-serif;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.eula-modal .headline {
  color: black;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 300;
}

.eula-modal .eula-iframe {
  width: 100%;
  height: 65%;
}

.eula-modal .eula-box {
  width: 100%;
  height: 65%;
  overflow: auto;
  background-color: grey;
}

.eula-modal .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 35px;
  margin-bottom: 20px;
}

.eula-modal .agree {
  margin-left: 10px;
}

div::-webkit-scrollbar-track, span::-webkit-scrollbar-track, code::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

div::-webkit-scrollbar, span::-webkit-scrollbar, code::-webkit-scrollbar, ul::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(245, 245, 245, 0);
}

div::-webkit-scrollbar:hover, span::-webkit-scrollbar:hover , code::-webkit-scrollbar:hover {
  background-color: rgba(26, 30, 42, 0.02);
}

div::-webkit-scrollbar-thumb, span::-webkit-scrollbar-thumb, code::-webkit-scrollbar-thumb {
  border-radius: 6px ;
  background-color: #465065;
}

div::-webkit-scrollbar-thumb:hover, span::-webkit-scrollbar-thumb:hover, code::-webkit-scrollbar-thumb:hover{
  background-color: #505b74;
}

div::-webkit-scrollbar-corner, span::-webkit-scrollbar-corner, code::-webkit-scrollbar-corner{
  background-color: transparent;
}

ul::-webkit-scrollbar-track, code::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

ul::-webkit-scrollbar:hover , code::-webkit-scrollbar:hover {
  background-color: rgba(26, 30, 42, 0.02);
}

ul::-webkit-scrollbar-thumb, code::-webkit-scrollbar-thumb {
  border-radius: 6px ;
  background-color: #465065;
}

ul::-webkit-scrollbar-thumb:hover, code::-webkit-scrollbar-thumb:hover{
  background-color: #505b74;
  
}

ul::-webkit-scrollbar-corner, code::-webkit-scrollbar-corner{
  background-color: transparent;
}

.ps-scrollbar-x-rail:hover {
  background-color: transparent;
}
