version: 2
references:
  filter_master: &filter_master
    filters:
      branches:
        only: master


jobs:
  publish:
    macos:
      xcode: "9.2.0"
    steps:
      - restore_cache:
        key: homebrew-{{ checksum ".circleci/config.yml" }}
      - checkout
      - run:
          name: Build and Publish
          command: |
            # wine is required to sign windows executables
            brew install wine
            # install electron main window dependencies 
            npm install
            # build code (mostly compile typescript)
            npm run build
            # go to react windows folder
            cd src/webapp
            # install yarn
            npm install -g yarn
            # install dependencies
            yarn
            # CircleCI sets CI=true which makes react return an error when there are warnings in the code
            export CI=false
            # build react app
            yarn run build
            # copy react bundle to dist directory
            mv build/* ../../dist/
            cd ../..
            # save windows certificate locally (WIN_CERT) is base64 of our certificate
            echo $WIN_CERT_BASE64 | base64 --decode > rookout.p12
            export WIN_CSC_LINK=rookout.p12
            # package code for every distribution (mac,win,linux) and publish as github release
            npm run mac-publish
      - save_cache:
        key: homebrew-{{ checksum ".circleci/config.yml" }}
        paths:
          - /usr/local/Homebrew
  version_validation:
    macos:
      xcode: "9.2.0"
    steps:
      - checkout
      - run:
          name: Validate version has no release yet
          command: sh ./validate_version.sh

                   
workflows:
  version: 2
  publish-pipeline:
    jobs:
      - version_validation:
          requires:
          <<: *filter_master
      - publish:
          requires:
            - version_validation