version: 2
references:
  filter_master: &filter_master
    filters:
      branches:
        only: master

jobs:
  publish:
    macos:
      xcode: "15.0.0"
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - restore_cache:
          key: homebrew-cache-{{ arch }}-{{ .Environment.CACHE_VERSION }}-{{ checksum ".circleci/config.yml" }}
      - run:
          name: Install Wine
          command: |
            # wine is required to sign windows executables
            brew install --cask xquartz
            brew install --cask wine-stable
      - run:
          name: Install gcloud sdk
          command: |
            # install gcloud sdk
            curl -fsSL https://dl.google.com/dl/cloudsdk/channels/rapid/google-cloud-sdk.zip --output /Users/distiller/google-cloud-sdk.zip
            unzip /Users/distiller/google-cloud-sdk.zip

      - run:
          name: Install Dependencies
          command: |
            # download custom jsign to sign PE
            curl -fsSL https://get.rookout.com/jsign-rookout.jar --output jsign.jar
            # install electron main window dependencies
            yarn
            # build typescript code
            yarn run build
            # CircleCI sets CI=true which makes react return an error when there are warnings in the code
            export CI=false
            # install dependencies
            yarn --cwd=src/webapp && yarn run --cwd=src/webapp build
      - run: 
          name: Build & Sign
          command: |
            # Save gcloud credentials service account and authenticate
            bash google-cloud-sdk/install.sh --rc-path=/Users/distiller/.bashrc --usage-reporting=false --path-update=true --command-completion=true --install-python=true --quiet
            source ~/.bashrc
            echo $GOOGLE_SERVICE_ACCOUNT_KEY_BASE64 | base64 --decode > gcloud_service_account.json
            export GOOGLE_APPLICATION_CREDENTIALS=gcloud_service_account.json
            gcloud auth activate-service-account --key-file=$GOOGLE_APPLICATION_CREDENTIALS
            # Make sure mac signing and certs are defined and trusted
            mkdir certificates
            echo $NEW_CSC_LINK | base64 --decode > certificates/mac_cert.p12
            echo $APPLE_CERT | base64 --decode > certificates/wwdr.cer
            security add-certificates certificates/wwdr.cer
            security import certificates/mac_cert.p12 -P $NEW_CSC_KEY_PASSWORD
            export CSC_LINK=certificates/mac_cert.p12
            export CSC_KEY_PASSWORD=$NEW_CSC_KEY_PASSWORD
            # Win signing
            # save windows certificate locally (WIN_CERT) is base64 of our certificate
            echo $WIN_EV_CERT_BASE64_22 | base64 --decode > rookout.crt
            export WINDOWS_EV_CERTIFICATE_PATH=rookout.crt          
            # package code for every distribution (mac, win, linux) and publish as github release
            yarn run build-packages-all-distributions
      - run:
          name: Publish
          command: |
            #Save gcloud credentials service account and authenticate
            bash google-cloud-sdk/install.sh --rc-path=/Users/distiller/.bashrc --usage-reporting=false --path-update=true --command-completion=true --install-python=true --quiet
            source ~/.bashrc
            echo $GOOGLE_SERVICE_ACCOUNT_KEY_BASE64 | base64 --decode > gcloud_service_account.json
            export GOOGLE_APPLICATION_CREDENTIALS=gcloud_service_account.json
            gcloud auth activate-service-account --key-file=$GOOGLE_APPLICATION_CREDENTIALS
            # publish in google storage bucket (additionally to electronbuild-publisher)
            bash upload_release_to_gs.sh
      - save_cache:
          key: homebrew-cache-{{ arch }}-{{ .Environment.CACHE_VERSION }}-{{ checksum ".circleci/config.yml" }}
          paths:
            - /usr/local/Homebrew
  version_validation:
    macos:
      xcode: "15.0.0"
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - run:
          name: Validate version has no release yet
          command: sh ./validate_version.sh
  publish_release_notes:
    docker:
      - image: node:18.17.1
    steps:
      - checkout
      - run:
          name: Generate release notes
          command: |
            export DYNATRACE_DESKTOP_APP_VERSION=$(node -e 'console.log(require("./package").version)') && curl -X POST https://github-enforcer.rookout.com/release -H "Content-Type: application/json" -H "X-Enforcer-Signature: $ENFORCER_SECRET" -d '{"repository":{"full_name":"Rookout/dynatrace-desktop-application"},"data":{"inner_version":"v'$DYNATRACE_DESKTOP_APP_VERSION'","version_to_publish":"'$DYNATRACE_DESKTOP_APP_VERSION'","component":"dynatrace-desktop-application","released_by":"CircleCI"}}'
workflows:
  version: 2
  publish-pipeline:
    jobs:
      - version_validation:
          requires:
          <<: *filter_master
      - publish:
          requires:
            - version_validation
      - publish_release_notes:
          requires:
            - publish
