version: 2
references:
  filter_master: &filter_master
    filters:
      branches:
        only: master

jobs:
  publish:
    macos:
      xcode: "15.0.0"
    steps:
      - checkout
      - restore_cache:
          key: homebrew-cache-{{ arch }}-{{ .Environment.CACHE_VERSION }}-{{ checksum ".circleci/config.yml" }}
      - run:
          name: Build and Publish
          command: |
            # wine is required to sign windows executables
            brew install --cask xquartz
            brew install --cask wine-stable
            # install gcloud sdk
            curl -fsSL https://dl.google.com/dl/cloudsdk/channels/rapid/google-cloud-sdk.zip --output /Users/distiller/google-cloud-sdk.zip
            unzip /Users/distiller/google-cloud-sdk.zip
            bash google-cloud-sdk/install.sh --rc-path=/Users/distiller/.bashrc --usage-reporting=false --path-update=true --bash-completion=true --install-python=true --quiet
            source ~/.bashrc
            # Save gcloud credentials service account and authenticate
            echo $GOOGLE_SERVICE_ACCOUNT_KEY_BASE64 | base64 --decode > gcloud_service_account.json
            export GOOGLE_APPLICATION_CREDENTIALS=gcloud_service_account.json
            gcloud auth activate-service-account --key-file=$GOOGLE_APPLICATION_CREDENTIALS
            ### temp-fix - REVERT ONCE POSSIBLE ###
            # manually fetch updated IdenTrustCommercialRootCA (temp fix)
            # see https://www.identrust.com/support/downloads
            #IdenTrust Commercial Root CA 1
            curl -L https://www.identrust.com/node/1330 -o IdenTrustCommercialRootCA.p7b
            #convert to pem
            openssl pkcs7 -in IdenTrustCommercialRootCA.p7b -inform DER -print_certs -out cert.pem            
            ###
            # download custom jsign to sign PE
            curl --cacert cert.pem -fsSL https://get.rookout.com/jsign-rookout.jar --output jsign.jar
            # install electron main window dependencies
            yarn
            # build typescript code
            yarn run build
            # CircleCI sets CI=true which makes react return an error when there are warnings in the code
            export CI=false
            # install dependencies
            yarn --cwd=src/webapp && yarn run --cwd=src/webapp build
            # save windows certificate locally (WIN_CERT) is base64 of our certificate
            echo $WIN_EV_CERT_BASE64_22 | base64 --decode > rookout.crt
            export WINDOWS_EV_CERTIFICATE_PATH=rookout.crt
            export CSC_LINK=$NEW_CSC_LINK
            export CSC_KEY_PASSWORD=$NEW_CSC_KEY_PASSWORD
            # Remove before merge
            export CSC_FOR_PULL_REQUEST=true
            # package code for every distribution (mac, win, linux) and publish as github release
            yarn run build-packages-all-distributions
            # publish in google storage bucket (additionally to electronbuild-publisher)
            bash upload_release_to_gs.sh
      - save_cache:
          key: homebrew-cache-{{ arch }}-{{ .Environment.CACHE_VERSION }}-{{ checksum ".circleci/config.yml" }}
          paths:
            - /usr/local/Homebrew
  version_validation:
    macos:
      xcode: "15.0.0"
    steps:
      - checkout
      - run:
          name: Validate version has no release yet
          command: sh ./validate_version.sh
  publish_release_notes:
    docker:
      - image: node:16.17.1
    steps:
      - checkout
      - run:
          name: Generate release notes
          command: |
            export EXPLOROOK_VERSION=$(node -e 'console.log(require("./package").version)') && curl -X POST https://github-enforcer.rookout.com/release -H "Content-Type: application/json" -H "X-Enforcer-Signature: $ENFORCER_SECRET" -d '{"repository":{"full_name":"Rookout/explorook"},"data":{"inner_version":"v'$EXPLOROOK_VERSION'","version_to_publish":"'$EXPLOROOK_VERSION'","component":"explorook","released_by":"CircleCI"}}'
workflows:
  version: 2
  publish-pipeline:
    jobs:
      - version_validation:
          requires:
          <<: *filter_master
      - publish
#      - publish:
#          requires:
#            - version_validation
      - publish_release_notes:
          requires:
            - publish
